<div class="container" #target>Drag and drop file to here.</div>
<div class="file-list">
  <div class="file-item" *ngFor="let file of fileList">
    <div class="file-item-head">
      <div class="file-item-properties">
        <p>
          <span>lastModified:</span>{{file.properties.lastModified}}</p>
        <p>
          <span>lastModifiedDate:</span>{{file.properties.lastModifiedDate | date:'yyyy-MM-dd HH:mm:ss'}}</p>
        <p>
          <span>name:</span>{{file.properties.name}}</p>
        <p>
          <span>size:</span>{{file.properties.size}} bytes</p>
        <p>
          <span>type:</span>{{file.properties.type}}</p>
        <p>
          <span>webkitRelativePath:</span>{{file.properties.webkitRelativePath}}</p>
      </div>
      <div class="file-item-img" *ngIf="file.image">
        <img [src]="file.image" alt="">
      </div>
    </div>
    <div class="file-item-result">{{file.result}}</div>
  </div>
</div>
